<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пересечение окружностей</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
</head>
<body>
<div class="container pt-5">
    <div class="card">
        <h1>Пересекаются ли две окружности?</h1>
        <div class="form-control">
            <form action="/result" method="post">
                <ul class="list">
                    <h2>Первая окружность</h2>
                    <li class="list-item">
                        <label>x1</label>&nbsp<input type="number" step="0.00000000000001" name="x1" id="x1">
                    </li>
                    <li class="list-item">
                        <label>y1</label>&nbsp<input type="number" step="0.00000000000001" name="y1" id="y1"">
                    </li>
                    <li class="list-item">
                        <label>r1</label>&nbsp<input type="number" step="0.00000000000001" name="r1" id="r1" min="0">
                    </li>
                    <h2>Вторая окружность</h2>
                    <li class="list-item">
                        <label>x2</label>&nbsp<input type="number" step="0.00000000000001" name="x2" id="x2">
                    </li>
                    <li class="list-item">
                        <label>y2</label>&nbsp<input type="number" step="0.00000000000001" name="y2" id="y2">
                    </li>
                    <li class="list-item">
                        <label>r2</label>&nbsp<input type="number" step="0.00000000000001" name="r2" id="r2" min="0">
                    </li>
                    <h2>Точность вычисления (кол-во знаков после запятой)</h2>
                    <li class="list-item">
                        <input type="number" name="accuracy" id="accuracy" min="0">
                    </li>
                </ul> <br>
                <input type="submit" onclick="return sendData()" value="Проверить"/>
            </form>
        </div>
    </div>
</div>
<script>
    function sendData() {
        var x1 = document.getElementById("x1").value;
        var y1 = document.getElementById("y1").value;
        var r1 = document.getElementById("r1").value;
        var x2 = document.getElementById("x2").value;
        var y2 = document.getElementById("y2").value;
        var r2 = document.getElementById("r2").value;
        var accuracy = document.getElementById("accuracy").value;

        if (x1 === '') {
            return false;
        }
        if (x2 === '') {
            return false;
        }
        if (y1 === '') {
            return false;
        }
        if (y2 === '') {
            return false;
        }
        if (r1 === '' || r1 < 0) {
            return false;
        }
        if (r2 === '' || r2 < 0) {
            return false;
        }
        if (accuracy === '') {
            return false;
        }
    }
</script>
</body>
</html>