<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат</title>
    <link rel="stylesheet" href="theme.css">
</head>
<body>
<div class="container pt-5">
    <div class="card">
        <div class="form-control">
            <h2 id="answer">{{ answer }}</h2>
        </div>
    </div>
</div>
</body>
</html>